[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
django-debug-toolbar = "*"
django-filter = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
model-bakery = "*"

[requires]
python_version = "3.12"
