# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment files
.env
*.env

# Ignore virtual environments
venv/
env/

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore logs and temporary files
*.log
*.tmp

# Ignore database files
*.sqlite3

# Ignore static and media files
/staticfiles/
/media/

# React
node_modules